<br>
<br><br><br>
<br>
<div class="container headar ">
  <h1>
    Wishlist
  </h1>
  <div>
    <a href="#" routerLink="/home"> Home </a>   <a> > </a>    <a class="name"> Wishlist </a>
  </div>
</div>
<br>
<br>
<div class=" container  ">
  <div class="row justify-content-md-center" >
    <div class="col-sm-10" >
      <div class="col-sm-12  justify-content-md-center product-item" >Cart Items</div>
      <div *ngFor="let product of cart; index as i" >
        <div class="product-item" data-aos="fade-up"
             data-aos-duration="1500">
          <div class="image-container" >
            <img [src]="product.photoUrl" [alt]="product.name" class="product-image" />
          </div>
          <div class="product-list-detail" >
            <h3 class="p-mb-2" ><a href="#"  routerLink="/good" (click)="setData(product)" >{{product.name}}</a> </h3>
          </div>

          <div class="product-list-amount justify-content-around" >
            <span class="">{{product.price | currency}}</span>
<!--            <input type="number" [(ngModel)]="product.amount" id="number">-->
<!--            <span class="">{{product.price * product.amount | currency }}</span>-->
          </div>


          <div class="product-list-action" >
            <span class="fa fa fa-cart-arrow-down fa-2x" (click)="addCart(product)"></span>
          </div>

          <span class="fa fa fa-trash fa-2x" (click)="delete(i)"></span>
        </div>

      </div>

      <div *ngIf="cart.length == 0"
           class="col-sm-12  justify-content-md-center product-item alert alert-danger" >
        <div class="p-d-flex p-ai-center p-jc-between">
          You have {{  cart.length }} items in your Wishlist.
        </div>
      </div>
      <div class="col-sm-12  justify-content-md-center product-item" >
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are {{  cart.length }} products.
        </div>
      </div>

    </div>


    <!--  -->
<!--    <div class="col-sm-4">-->
<!--      <div class="" style="max-width: 18rem ;min-width: 18rem; margin-left: 30px" >-->
<!--        <div class="card Summary">-->
<!--          <div class="card-header">-->
<!--            Summary-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            <table width="100%">-->
<!--              <tr>-->
<!--                <th>Subtotal:	</th>-->
<!--                <td>{{cart.length | currency}}</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <th>Shipping:	</th>-->
<!--                <td>{{cart.length | currency}}</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <th>Total:	</th>-->
<!--                <td>{{cart.length | currency}}</td>-->
<!--              </tr>-->
<!--            </table>-->
<!--          </div>-->
<!--          <a href="#" class="creditCard justify-content-md-center">credit card</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>


<br>
<br>

