<!--Home -->
<div class="row ">
<div class="card " *ngFor="let goods of goods,">
  <div class="img-avatar" >
  </div>
  <div class="card-text">
    <div class="portada">
      <img class="card-img-top" [src]="goods.photoUrl" alt="Card image cap">
    </div>
    <div class="title-total">
      <div class="title">{{goods.name}}</div>
      <p>{{goods.discription}}</p>
      <div class="actions">
        <a class="buynow"  (click)="selectCategory(goods)">Shop Now</a>
      </div>
    </div>
  </div>
</div>
</div>
