<!---->
<div class="main-slider ">
  <p-carousel
    [value]="goods" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
    </ng-template>

    <ng-template let-goods pTemplate="item" >
<!--      ewb -->
      <div class="container d-none d-md-block" >
        <div class="row">
          <div class="col-sm  ">
            <p class="goodsName"> {{goods.name}}</p>
            <div class="col-sm">
              <h3>  {{goods.price}}LE</h3>
            </div>
            <div class="col-sm goodsDiscription ">
              {{goods.discription}}
            </div>
            <div class="col-sm goodsButton">
              <button pButton pRipple type="button" label="Primary" class="p-button-rounded"></button>
              <button pButton pRipple type="button" label="Secondary" class="p-button-rounded p-button-secondary"></button>
            </div>
          </div>

          <div class="col-ms goodsImg">
            <img class="card-img-top" [src]="goods.photoUrl" alt="Card image cap">
          </div>
        </div>
      </div>
<!--      mopile-->
      <div class="container d-md-none">
        <div class="row mop">
          <div class="col goodsImgMob">
            <img class="card-img-top" [src]="goods.photoUrl" alt="Card image cap">
          </div>
          <div class="col-sm ">
            <p class="goodsNameMob"> {{goods.name}}</p>
            <div class="col-sm">
              <button pButton pRipple type="button" label="Primary" class="p-button-rounded"></button>
              <button pButton pRipple type="button" label="Secondary" class="p-button-rounded p-button-secondary"></button>
            </div>
          </div>

        </div>
      </div>
    </ng-template>

  </p-carousel>
</div>
<!--end main-slider-->

<!-- categories -->
<div class="container">
    <app-categories></app-categories>
</div>
<!--end of categories-->

<!--New Arrivals-->
<div class="container">
    <app-card></app-card>
</div>
<!--end New Arrivals-->
<div class="container">
  <div class="row">
    <div class="card" style="width: 18rem;"  *ngFor="let goods of goods; index as i">
      <img class="card-img-top" [src]="goods.photoUrl" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{goods.name}}</h5>
        <p class="card-text">{{goods.price}}</p>
        <a class="btn btn-primary" (click)="addToCart(i)" *ngIf="add !== i">Go somewhere</a>
        <div *ngIf="add === i">
          <input type="number" class="form-control" placeholder="amount(num)" #amount>
          <button class="btn btn-primary" (click)="buy(amount.value)">buy</button>
        </div>
      </div>
    </div>
  </div>
</div>
