<!--main-slider-->
<div class="main-slider ">
  <app-main-slider></app-main-slider>
</div>
<!--end main-slider-->

<!-- categories -->
<div class=" homeData">
  <h1>Categories</h1>
  <p>Maecenas vel odio faucibus, ultrices mauris quis, sollicitudin magna</p>
    <app-categories></app-categories>
</div>
<!--end of categories-->

<!--New Arrivals-->
<div class="homeData">
  <h1>New Arrivals</h1>
  <p>Maecenas vel odio faucibus, ultrices mauris quis, sollicitudin magna</p>
    <app-card></app-card>
</div>
<!--end New Arrivals-->

<!-- offer-panner   -->
<div class="homeData">

  <div class="col-md-12= mb-4">
    <div class="card card-image offerPanner">
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
        <div>
          <h6 class="purple-text">
            <i class="fas fa-plane"></i>
            <strong> Travel card</strong>
          </h6>
          <h3 class="py-3 font-weight-bold">
            <strong>This is card title</strong>
          </h3>
          <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
            voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum
            dignissimos. Odit sed qui, dolorum!
          </p>
          <a class="buynow"><i class=""></i>View project</a>
        </div>
      </div>
    </div>
  </div>

</div>
<!---->

<div class="homeData d-none d-md-block">
  <h1>contact us</h1>
  <p>If you need any help, please feel free to contact us immediately</p>
  <br>
<div class="newPanner">
  <div class="flexbox">
    <div class="flex flexbottom">
      <h1 class="stepNumber">01</h1>
      <div class="textbox">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, illo.</p>
      </div>
      <div class="imgbox">
        <img src="https://cdn.pixabay.com/photo/2017/01/10/23/01/seo-1970475_960_720.png" alt="">
      </div>
    </div>
    <div class="flex flextop">
      <div class="imgbox">
        <img src="https://cdn.pixabay.com/photo/2017/03/08/14/20/flat-2126876_960_720.png" />
      </div>
      <h1 class="stepNumber">02</h1>
      <div class="textbox">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, illo.</p>
      </div>

    </div>
    <div class="flex flexbottom">
      <h1 class="stepNumber">03</h1>
      <div class="textbox">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, illo.</p>
      </div>
      <div class="imgbox">
        <img src="https://cdn.pixabay.com/photo/2017/03/08/14/20/flat-2126878_960_720.png" alt="">
      </div>
    </div>
    <div class="flex flextop">
      <div class="imgbox">
        <img src="https://cdn.pixabay.com/photo/2017/01/10/23/01/vector-1970471_960_720.png" alt="">
      </div>
      <h1 class="stepNumber">04</h1>
      <div class="textbox">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, illo.</p>
      </div>

    </div>
    <div class="flex flexbottom">
      <h1 class="stepNumber">05</h1>
      <div class="textbox">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, illo.</p>
      </div>
      <div class="imgbox">
        <img src="https://cdn.pixabay.com/photo/2017/03/08/14/20/flat-2126884_960_720.png" alt="">
      </div>
    </div>

  </div>
</div>
</div>

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="card" style="width: 18rem;"  *ngFor="let goods of goods; index as i">-->
<!--      <img class="card-img-top" [src]="goods.photoUrl" alt="Card image cap">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">{{goods.name}}</h5>-->
<!--        <p class="card-text">{{goods.price}}</p>-->
<!--        <a class="btn btn-primary" (click)="addToCart(i)" *ngIf="add !== i">Go somewhere</a>-->
<!--        <div *ngIf="add === i">-->
<!--          <input type="number" class="form-control" placeholder="amount(num)" #amount>-->
<!--          <button class="btn btn-primary" (click)="buy(amount.value)">buy</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
