
.c-img-con-m{
  margin: 10px;
}


.fa-facebook, .fa-facebook-square {
  color: #3b5998
}

.fa-twitter, .fa-twitter-square {
  color: #00aced
}

.fa-youtube, .fa-youtube-play, .fa-youtube-square {
  color: #bb0000
}

.fa-instagram {
  color: #517fa4;
}

.fa-pinterest, .fa-pinterest-square {
  color: #cb2027
}
.fa-linkedin, .fa-linkedin-square {
  color: #007bb6
}
