@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
  font-size: 2em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
}



.main-menu:hover,nav.main-menu.expanded {
  width:250px;
  overflow:visible;
}

.main-menu {
  background: #f2f2f6;
  border-right:1px solid #e5e5e5;
  position:absolute;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  width:60px;
  overflow:hidden;
  -webkit-transition:width .4s linear;
  transition:width .4s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  z-index:1000;
  margin-top: 70px;
}

.main-menu>ul {
  margin:7px 0;
}

.main-menu li {
  position:relative;
  display:block;
  width:290px;

}

.main-menu li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color: #827373;
  font-family: arial;
  font-size: 14px;
  text-decoration:none;
  //-webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .2s step-start;
  transition:all .4s step-start;
  height:40px;

}

.main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width:70px;
  height:36px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
}

.main-menu .nav-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:184px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
  position:absolute;
  left:0;
  border-top:1.5px solid rgba(186, 112, 112, 0.12);
  //bottom:0;
}

.no-touch .scrollable.hover {
  overflow-y:hidden;

}

.no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;

}

a:hover,a:focus {
  text-decoration:none;

}

nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  //color:#fff;
  //background-color:#5fa2db;
  box-shadow:inset 0 0 10px 0 rgba(95, 71, 71, 0.35);
  border:0px solid rgba(0, 0, 0, .12);
  border-radius: 15px;
}
.area {
  float: left;
  background: #a83e3e;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

//nav
.search{
  box-shadow:inset 0 0 10px 0 rgba(95, 71, 71, 0.35);
  border:1.5px solid rgba(0, 0, 0, .12);
  border-radius: 30px;
  width: 70vh;
}

.search:hover{
  box-shadow:2px 3px 5px 10px rgba(0,0,0,0.20);
  //border:0;
}

.parent4 {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
}

.toButton{
  margin-left: 75px;
}

*
{
  -webkit-tap-highlight-color: transparent;
}

*:focus
{
  outline: none;
}

//html, body
//{
//  height: 100%;
//}

//body
//{
//  margin: 0;
//  background-color: #0e3577;
//}

#webapp_cover
{
  //position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  width: 20px;
  margin: 0 auto;
  //transform: translateY(-50%) scale(2);
}

#menu_button
{
  width: 39px;
  overflow: hidden;
}

#menu_checkbox
{
  display: none;
}

#menu_label
{
  position: relative;
  display: block;
  height: 25px;
  cursor: pointer;
}

#menu_label:before, #menu_label:after, #menu_text_bar
{
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #1978c4;
}

#menu_label:before, #menu_label:after
{
  content: '';
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
}

#menu_label:before
{
  top: 0px;
}

#menu_label:after
{
  top: 12px;
}

#menu_text_bar
{
  top: 24px;
}

#menu_text_bar:before
{
  content: 'MENU';
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  color: #312a2a;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-align: center;
}

#menu_checkbox:checked + #menu_label:before
{
  left: -39px;
}

#menu_checkbox:checked + #menu_label:after
{
  left: 39px;
}

#menu_checkbox:checked + #menu_label #menu_text_bar:before
{
  animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown
{
  0%{ top:5; }
  50%{ top:-28px;}
  100%{ top:-20px; }
}

@keyframes shakeWhileMovingUp
{
  0%{ transform: rotateZ(0); }
  25%{ transform:rotateZ(-10deg); }
  50%{ transform:rotateZ(0deg); }
  75%{ transform:rotateZ(10deg); }
  100%{ transform:rotateZ(0); }
}

@keyframes shakeWhileMovingDown
{
  0%{ transform:rotateZ(0); }
  80%{ transform:rotateZ(3deg); }
  90%{ transform:rotateZ(-3deg); }
  100%{ transform:rotateZ(0); }
}
