<br>
<br><br><br>
<br>
<div class="container headar ">
  <h1>
    Shopping Cart
  </h1>
  <div>
    <a href="#" routerLink="/home"> Home </a>   <a> > </a>    <a class="name"> Shopping Cart </a>
  </div>
</div>
<br><br>
<div class="body">
<div class="row shopCom justify-content-between ">
<div class="col order-last ">
  <div class="shop  ">
  <p-dataView #dv [value]="products" [paginator]="true"
              [rows]="9" filterBy="name"
              [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between header">
        <p-dropdown class="dropdown  d-none d-lg-block" [options]="sortOptions"   placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                    <i class="pi pi-search"></i>
                    <input class="search" type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
        </span>
        <div class="d-none d-lg-block disabled">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="listItem">
      <div class="p-col-12 ">
        <div class="product-list-item">
          <img [src]="'' + product.photoUrl" [alt]="product.name"/>
          <div class="product-list-detail">
            <div class="product-name">{{product.name}}</div>
            <div class="product-description">{{product.description}}</div>
            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
            <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.category}}</span>
          </div>
          <div class="product-list-action">
            <span class="product-price">${{product.price}}</span>
            <p-button icon="pi pi-shopping-cart"  label="Add to Cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
<!--            <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>-->
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem" >
      <div class="p-col-10 p-md-4 productCart " >
        <div class="product-grid-item card " >
          <div class="product-grid-item-top ">
            <div class="inventoryStatus">
              <span class="badge badge-pill badge-primary animate__animated animate__bounceIn ">{{product.status}}</span>
              <span class="badge badge-pill badge-danger m-1" *ngIf="product.discount">-{{product.discount}}%</span>
              <!--<span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>-->
            </div>
            <span class="product-ategory" (click)="addWishlist(product)">
              <i class="fa fa-gratipay fa-2x" pTooltip="Add to Wishlist" tooltipPosition="left"></i></span>
          </div>
          <div  class="col-md-12">
            <span  class="pull-right" (click)="addCart(product)">
               <i class="fa fa-shopping-basket fa-lg" pTooltip="Add to Cart" tooltipPosition="left"></i>
            </span>
          </div>
          <div class="product-grid-item-content">
            <img [src]="'' + product.photoUrl" [alt]="product.name"  (click)="setData(product)"/>
            <div class="product-name">{{product.name}}</div>
<!--            <div class="product-description">{{product.description}}</div>-->
          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">${{product.price}}</span>
            <p-rating [ngModel]="product.rating"  [cancel]="false"></p-rating>
            <!--<p-button icon="pi pi-shopping-cart" ></p-button>-->
          </div>
        </div>

      </div>
    </ng-template>
  </p-dataView>
  </div>
</div>
<!--Filter -->
<div class="col-3 col-md-3 order-first  d-none d-lg-block   " >
  <div class="filterAll">
  <div class="filter ">
      <div class="card-header ">
        Product Categories
      </div>
    <div  class="p-text-nowrap p-text-truncate card-body ">
      <a class="p-text-nowrap p-text-truncate" href="#" routerLink="/shop" (click)="selectCategory('Men\'s Fashion')"> <p class="fa fa-male " ></p>  Men's Fashion</a>
      <a class="p-text-nowrap p-text-truncate" href="#" routerLink="/shop" (click)="selectCategory('Women\'s Fashion')"> <p class="fa fa-female"></p> Women's Fashion</a>
      <a class="p-text-nowrap p-text-truncate" href="#" routerLink="/shop" (click)="selectCategory('Kid\'s Fashion')"> <p class="fa fa-child "></p> Kid's Fashion</a>
      <a class="p-text-nowrap p-text-truncate" href="#" routerLink="/shop" (click)="selectCategory('Bags')"> <p class="fa fa-shopping-bag "></p> Bags</a>
      <a class="p-text-nowrap p-text-truncate" href="#" routerLink="/shop" (click)="selectCategory('Sports & Fitness')"> <p class="fa fa-soccer-ball-o"></p> Sports & Fitness</a>
    </div>
</div>
  <div class="filter ">
    <div class="card-header ">
      Featured
    </div>
    <div  class="p-text-nowrap p-text-truncate card-body ">
      <h5>Range: {{rangeValues[0] + ' - ' + rangeValues[1]}}</h5>
      <p-slider [(ngModel)]="rangeValues" [range]="true"></p-slider>    </div>
    <br>

  </div>
    <div class="filter ">
      <div class="card-header ">
        Featured
      </div>
      <div  class="p-text-nowrap p-text-truncate card-body ">
        <p-rating [(ngModel)]="val1"></p-rating>
      </div>
      <br>

    </div>

  <div class="filter ">
    <div class="card-header ">
      Featured
    </div>
    <div  class="p-text-nowrap p-text-truncate card-body  ">
      <div class="row justify-content-around">
        <div class="col-2  my-3">
          <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded bg-white text-dark"></button>
        </div>
        <div class="col-2 my-3">
          <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded bg-dark text-white"></button>
        </div>
        <div class="col-2 my-3">
          <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded bg-secondary text-dark"></button>
        </div>
        <div class="col-2 my-3">
          <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded bg-info text-white"></button>
        </div>
        <div class="col-2 my-3">
          <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded bg-warning text-dark"></button>
        </div>
        <div class="col-2 my-3">
          <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded bg-danger text-white"></button>
        </div>
        <div class="col-2 my-3">
          <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded bg-success text-white"></button>
        </div>
        <div class="col-2 my-3">
          <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded bg-secondary text-white"></button>
        </div>
        <div class="col-2 my-3">
          <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded bg-primary text-white"></button>
        </div>
        <div class="col-2 my-3">
          <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-danger"></button>
        </div>
        <div class="col-2 my-3">
          <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-secondary"></button>
        </div>
        <div class="col-2 my-3">
          <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-help"></button>
        </div>
      </div>
      <br>
  </div>
</div>

<!---->


</div>
</div>
</div>
<!--fliter-->
    <div class="container parent4"  >
      <div class=" ">
        <i class="fa fa-filter fa-3x" (click)="op.toggle($event)"></i>
        </div>
    </div>
<p-overlayPanel [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #op [dismissable]="true" [showCloseIcon]="true">
  <ng-template pTemplate>
    <div class="">
    <app-filter></app-filter>
    </div>
  </ng-template>
</p-overlayPanel>
