<br>
<br>
<br>
<br>
<br>
<div class="d-flex justify-content-center">
<div class="shop  container">
  <p-dataView #dv [value]="products" [paginator]="true"
              [rows]="9" filterBy="name"
              [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between header">
        <p-dropdown class="dropdown" [options]="sortOptions"   placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                    <i class="pi pi-search"></i>
                    <input class="search" type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
        </span>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="listItem">
      <div class="p-col-12">
        <div class="product-list-item">
          <img [src]="'' + product.photoUrl" [alt]="product.name"/>
          <div class="product-list-detail">
            <div class="product-name">{{product.name}}</div>
            <div class="product-description">{{product.description}}</div>
            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
            <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.category}}</span>
          </div>
          <div class="product-list-action">
            <span class="product-price">${{product.price}}</span>
            <p-button icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
            <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem" >
      <div class="p-col-12 p-md-3 productCart "  data-aos="zoom-in"
                                                 data-aos-easing="linear"
                                                 data-aos-duration="600">
        <div class="product-grid-item card" >
          <div class="product-grid-item-top">
            <div class="inventoryStatus">
              <span class="badge badge-pill badge-primary">{{product.status}}</span>
              <span class="badge badge-pill badge-danger m-1" *ngIf="product.discount">-{{product.discount}}%</span>
              <!--<span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>-->
            </div>
            <span class="product-ategory  "><i class="fa fa-gratipay fa-2x"></i></span>
          </div>
          <div  class="col-md-12"><span class="pull-right"><i class="fa fa-shopping-basket fa-lg"></i></span></div>
          <div class="product-grid-item-content">
            <img [src]="'' + product.photoUrl" [alt]="product.name" />
            <div class="product-name">{{product.name}}</div>
            <div class="product-description">{{product.description}}</div>
          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">${{product.price}}</span>
            <p-rating [ngModel]="product.rating"  [cancel]="false"></p-rating>
            <!--<p-button icon="pi pi-shopping-cart" ></p-button>-->
          </div>
        </div>

      </div>
    </ng-template>
  </p-dataView>
</div>
</div>

<!--fliter-->
    <div class="container parent4"  >
      <div class=" ">
        <i class="fa fa-filter fa-3x" (click)="op.toggle($event)"></i>
        </div>
    </div>
<p-overlayPanel [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #op [dismissable]="true" [showCloseIcon]="true">
  <ng-template pTemplate>
    <app-filter></app-filter>
  </ng-template>
</p-overlayPanel>
